<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/base/images/favicon.ico">
        <title>{{ title }}</title>

        {% block stylesheet_extern %}
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/vendor/jquery/jquery-ui/jquery-ui.min.css">
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/vendor/jquery/jquery-tablesorter/css/theme.default.css">
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/vendor/jquery/jquery-tablesorter/css/theme.blue.css">
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/vendor/jquery/jquery-datatable/style.css">
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/vendor/jquery/jquery-confirm/style.css">
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/vendor/toastr/toastr.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        {% endblock %}

        {% block stylesheet %}
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/base/css/base.css">
            <link rel="stylesheet" type="text/css" href="{{ prefix }}/base/css/default_style1.css">
        {% endblock %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="header">
        {% block navigation_main %}
            <nav class="mainmenu">
                <ul>
                    <li><a href="{{prefix}}/backend">Home</a></li>
                    {% block nav_beforebasic %}{% endblock %}
                    <li class="submenu"><a href="#">Stammdaten</a>
                        <ul>
                            {% block nav_basic_before %}{% endblock %}
                            <li><a href="{{ prefix }}/backend/account">Benutzer</a></li>
                            <li><a href="{{ prefix }}/backend/role">Rollen</a></li>
                            {% block nav_basic_after %}{% endblock %}
                        </ul>
                    </li>
                    {% block nav_afterbasic %}{% endblock %}
                    <li class="submenu"><a href="#">Einstellungen</a>
                        <ul>
                            {% block nav_settings_before %}{% endblock %}
                            <li><a href="{{prefix}}/backend/settings">Programm</a></li>
                            {% block nav_settings_after %}{% endblock %}
                            {% block nav_me_before %}{% endblock %}
                            <li><a href="{{prefix}}/backend/account/{{ me.id }}/me">Eigene Einstellungen</a></li>
                            {% block nav_me_after %}{% endblock %}
                        </ul>
                    </li>
                    <li><a href="{{prefix}}/backend/logout">Logout</a></li>
                </ul>
                <div id="header_me">User: {{ me.name }} [ID: {{ me.id }} | Role: {{ me.role }}]</div>
            </nav>
        {% endblock %}
        {% block header %}{% endblock %}
    </div>
    <div id="main">
        {% block overlayIFrame %}
            <div id="overlayIFrame">
                <div id="overlayIFrameContent">
                    <div id="overlayIFrameContentHeader">
                        <div id="overlayIFrameContentHeaderText"></div>
                        <div id="overlayIFrameContentHeaderClose">(X)</div>
                    </div>
                    <div id="overlayIFrameContentContent">
                        <iframe id="overlay_iframe" width="100%" height="100%"></iframe>
                    </div>
                </div>
            </div>
        {% endblock overlayIFrame %}

        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</div>

{% block javascript_extern %}
    <script src="{{prefix}}/vendor/jquery/jquery.min.js"></script>
    <script src="{{prefix}}/vendor/jquery/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{prefix}}/vendor/jquery/jquery-tablesorter/js/jquery.tablesorter.min.js"></script>
    <script src="{{prefix}}/vendor/jquery/jquery-tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="{{prefix}}/vendor/jquery/jquery-datatable/script.js"></script>
    <script src="{{prefix}}/vendor/jquery/jquery-confirm/script.js"></script>
    <script src="{{prefix}}/vendor/toastr/toastr.min.js"></script>
{% endblock %}

{% block javascript_intern %}
    <script type="text/javascript">
        page = {
            prefix: '{{prefix}}',
        }
    </script>

    <script src="{{prefix}}/base/scripts/base.js"></script>

    <script>
        {{ scripts }}

        {% if AUTOCOMPLETE is defined and AUTOCOMPLETE is not null %}
        {% for complete in AUTOCOMPLETE %}
        addAutoComplete('#{{complete.fieldID|e}}', '{{complete.filter|e}}', {{ complete.callback|e }});
        {% endfor %}
        {% endif %}

    </script>
{% endblock %}
</body>
</html>