{% set prefix = '' %}
<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{prefix}}/base/images/favicon.ico">
    <title>{{ title }}</title>

    {% block stylesheet_extern %}
    <link rel="stylesheet" type="text/css" href="{{prefix}}/vendor/jquery/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="{{prefix}}/vendor/jquery/jquery-tablesorter/css/theme.default.css">
    <link rel="stylesheet" type="text/css" href="{{prefix}}/vendor/jquery/jquery-tablesorter/css/theme.blue.css">
    <link rel="stylesheet" type="text/css" href="{{prefix}}/vendor/toastr/toastr.min.css">
    {% endblock %}

    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{prefix}}/base/css/base.css">
    {% endblock %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="header">
        {% block navigation_main %}
        {% endblock %}
        {% block header %}{% endblock %}
    </div>
    <div id="main">
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</div>

{% block javascript_extern %}
<script src="{{prefix}}/vendor/jquery/jquery.min.js"></script>
<script src="{{prefix}}/vendor/jquery/jquery-ui/jquery-ui.min.js"></script>
<script src="{{prefix}}/vendor/jquery/jquery-tablesorter/js/jquery.tablesorter.min.js"></script>
<script src="{{prefix}}/vendor/jquery/jquery-tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
<script src="{{prefix}}/vendor/toastr/toastr.min.js"></script>
{% endblock %}

{% block javascript_intern %}
<script type="text/javascript">
    page = {
        prefix: '{{prefix}}',
    }
</script>

<script src="{{prefix}}/base/scripts/base.js"></script>
{% endblock %}
</body>
</html>